#icon {
    width: 50px;
    height: 50px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

body {
    margin: 0px;
}

main {
    height: 130vh;
    margin-bottom: 1px;
    width: 80vw;
    margin: auto;
}

footer {
    border-top: solid 3px rgba(0, 0, 0, 0.1);
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: solid 3px rgba(0, 0, 0, 0.1);


    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        
    }
}

h1 {
    margin-top: 0px;
}

.header-list {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.hero {
    padding-top: 100px;
    display: flex;
    
}

body, a, p {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Space-Grotesk', Arial, Helvetica, sans-serif;
}

.hero-texto-esquerda {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 40px;
    }
}

#h1-nome-destaque {
    font-size: 90px;
    color: blue;
}

.card-tech {}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}